{% extends 'base.html.twig' %}

{% block title %}Page 404{% endblock %}

{% block body %}

    <h1 class="text-center">Page 404</h1>
    <p class="text-center">La page n'existe pas Dude.</p>

    <div style="text-align:center; margin-top:30px;">
        <img src="{{ asset('uploads/images/erreur/kurt_angle_meme.jpg') }}" alt="Image 404" style="max-width:400px;">
    </div>

{% endblock %}